<div id="flash-message">
    {{#if messages.error}}
        <div id="error" class="alert alert-danger alert-dismissible close">
            <a class="close dismiss" data-dismiss="alert" aria-label="close">&times;</a>
            {{messages.error}}
        </div>
    {{else}}
        <div id="success" class="alert alert-success alert-dismissible close">
            <a class="close dismiss" data-dismiss="alert" aria-label="close">&times;</a>
            {{messages.success}}
        </div>
    {{/if}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</div>