<header class="home-information">
    <div class="home-header">
        <a href="/" id="home-button">
            <img id="home-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Kingdom_Hearts_logo.svg/1200px-Kingdom_Hearts_logo.svg.png">
        </a>
        <label class="search">
            <input type="text" class="search-input" placeholder="  Search photo">
            <button type="submit" class="site-submit">Search</button>
        </label>
        <nav>
            <ul>
                <li><a href="/post_image" class="option">Post Image</a></li>
                <li><a href="/login" class="option">Log In</a></li>
            </ul>
        </nav>
    </div>
</header>