<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../public/css/form.css">
        <title>Image Post</title>
    </head>
    <body class="image-post">
        <div class="grid-outer-container">
            <header class="image-header">
                <h1>Image Post</h1>
            </header>
            <div class="grid-image-container">
                <div class="post-information">
                    <div class="post-details">
                        <h2 id="post-title" class="post-detail">Post Title</h2>
                        <h3 id="author" class="post-detail">_-__-_-___-  Post Author  -___-_-__-_</h3>
                        <h4 id="time" class="post-detail">Post Creation Time</h4>
                    </div>
                    <img src="https://fakeimg.pl/300/" id="fake-image">
                </div>
            </div>
        </div>
    </body>
</html>