<!DOCTYPE html>
<html lang="en">
    <body>
        <div id="login" class="form-body">
            <div class="grid-outer-container">
                <header class="log-header">
                    <h1>Login Form</h1>
                </header>
                <form>
                    <div class="grid-login-container">
                        <label id="log-user" class="site-information">Username</label>
                        <input type="text" placeholder=" Username" id="log-user-input" class="log-information-input" required/>

                        <label id="log-password" class="site-information">Password</label>
                        <input type="password" placeholder=" Password" id="log-pass-input" class="log-information-input" required/>

                        <button type="submit" id="log-submit" class="site-submit">Submit</button>
                        <button type="reset" id="log-cancel" class="site-cancel">Cancel</button>
                        <aside id="create-account">Don't have an account? <a href="/register">Create an account here.</a></aside>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>