<!DOCTYPE html>
<html lang="en">
    <body>
        <div id="post-image" class="form-body">
            <div class="grid-outer-container">
                <header class="post-header">
                    <h1>Post Image Form</h1>
                </header>
                <form>
                    <div class="grid-post-container">
                        <label id="title" class="site-information">Post Title:</label>
                        <input type="text" placeholder=" Post Title" id="title-input" class="post-information-input"/>

                        <label id="description" class="site-information">Description:</label>
                        <textarea placeholder=" Description" id="description-input" class="post-information-input"></textarea>

                        <div id="post">
                            <label id="image" class="site-information">Image:</label>
                            <input type="file" id="image-input" class="file"/>
                        </div>

                        <div id="checkboxes">
                            <input type="checkbox" class="checkbox" required/>
                            <label id="post-check"> Yes, I accept Acceptable Use Policy for uploading images.</label>
                        </div>

                        <button type="submit" id="post-submit" class="site-submit">Submit</button>
                        <button type="reset" id="post-cancel" class="site-cancel">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>